@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
}

section {
  margin-bottom: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.header__title {
  width: 80vw;
  color: #0d065f;
  font-size: 2vw;
  font-weight: 700;
  transform: translate(-50%, -50%);
  transition-duration: 2000ms;
  animation: textSliding 5s linear infinite;
}

@keyframes textSliding {
  0% {
    transform: translateX(5vw);
  }
  50% {
    transform: translateX(40vw);
  }
  100% {
    transform: translateX(5vw);
  }
}

.header__logo-container {
  position: absolute;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 5vh;
  color: #ffad16;
  text-shadow: 2px 2px 4px #ffad16;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 5vh;
  width: 30vh;
  height: 18vh;
  background-image: linear-gradient(to right, #020024 0%, #090979 35%, #00d4ff 100%);
  border-radius: 30px;
  transition-property: background-image, text-shadow, color, transform;
  transition-timing-function: linear;
  transition-duration: 600ms;
}

.header__logo-container:focus, .header__logo-container:hover {
  background-image: linear-gradient(to right, #00d4ff 0%, #090979 65%, #020024 100%);
  color: #15d315;
  text-shadow: 2px 2px 4px #15d315;
}

.header__logo-on {
  position: relative;
  right: 5vh;
  font-family: 'Montserrat Alternates', sans-serif;
}

.header__logo-container::after {
  content: 'soft';
  position: absolute;
  left: 15vh;
  display: inline-block;
  transition-delay: 300ms;
  transition-property: text-shadow, color, transform;
  transition-timing-function: linear;
  transition-duration: 600ms;
  color: #15d315;
  text-shadow: 2px 2px 4px #15d315;
}

.header__logo-container:focus::after,
.header__logo-container:hover::after {
  content: 'soft';
  position: absolute;
  left: 15vh;
  display: inline-block;
  transform: rotate(360deg);
  text-shadow: 2px 2px 4px #ffad16;
  color: #ffad16;
}

.header__menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
}

.header__menu {
  position: absolute;
  right: 20vw;
  top: 11vh;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.header__menu-link {
  position: relative;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  font-weight: 500;
  background: rgba(212, 94, 94, 0.2);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(96, 91, 91, 0.1);
  z-index: 1000;
  overflow: hidden;
  backdrop-filter: blur(15px);
}

.header__menu-link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.header__menu-item .header__menu-link {
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  border-radius: 30px;
  margin-right: 20px;
}

.header__menu-item:nth-last-child(2) .header__menu-link {
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
}

#marker {
  position: absolute;
  top: 0;
  width: 41px;
  height: 41px;
  z-index: 1;
  transition: 0.5s;
}

#marker::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 1;
  transition: 0.5s;
}

.header__menu-item:nth-child(1):hover ~ #marker::before {
  background: #d92a2a;
  box-shadow: 0 0 15px #d92a2a, 0 0 30px #d92a2a, 0 0 45px #d92a2a, 0 0 60px #d92a2a;
}

.header__menu-item:nth-child(2):hover ~ #marker::before {
  background: #e7e721;
  box-shadow: 0 0 15px #e7e721, 0 0 30px #e7e721, 0 0 45px #e7e721, 0 0 60px #e7e721;
}

.header__menu-item:nth-child(3):hover ~ #marker::before {
  background: #12aa12;
  box-shadow: 0 0 15px #12aa12, 0 0 30px #12aa12, 0 0 45px #12aa12, 0 0 60px #12aa12;
}

.header__menu-item:nth-child(4):hover ~ #marker::before {
  background: #c0c0c0;
  box-shadow: 0 0 15px #c0c0c0, 0 0 30px #c0c0c0, 0 0 45px #c0c0c0, 0 0 60px #c0c0c0;
}

.header__menu-item:nth-child(5):hover ~ #marker::before {
  background: #47ebeb;
  box-shadow: 0 0 15px #47ebeb, 0 0 30px #47ebeb, 0 0 45px #47ebeb, 0 0 60px #47ebeb;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  content: '';
  width: 25px;
  height: 5px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: white;
  border: 1px solid black;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header__menu-container {
    justify-content: flex-end;
  }
  .header__menu {
    right: 12vw;
  }
  .header__menu-item .header__menu-link {
    border-radius: 0;
    margin-right: 0;
  }
  .header__menu-item:last-child .header__menu-link {
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
  }
  .header__menu-item:first-child .header__menu-link {
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
  }
}

@media screen and (max-width: 767px) {
  .hamburger {
    display: block;
    position: absolute;
    right: 10%;
    top: 10%;
    border-radius: 5px;
    animation: animate125 3000ms infinite 1000ms;
  }
  .hamburger:hover, .hamburger:focus {
    background: rgba(26, 6, 116, 0.3);
    -webkit-box-shadow: 3px 3px 35px 9px #97a3f3;
    -moz-box-shadow: 3px 3px 35px 9px #97a3f3;
    box-shadow: 3px 3px 35px 9px #97a3f3;
  }
  @keyframes animate125 {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
  .hamburger.active .bar:nth-child(2) {
    transform: translateX(20px);
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(6px) rotate(405deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-6px) rotate(-405deg);
  }
  .header__menu {
    position: fixed;
    left: 100%;
    top: 21.5vh;
    gap: 0;
    flex-direction: column;
    background: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
    align-items: center;
    transition: 2s;
    width: 100%;
  }
  .header__menu-item {
    margin: 16px 0;
  }
  .header__menu.active {
    left: 0;
  }
  .header__menu-container {
    width: 100%;
    display: inline-block;
  }
  #marker::before {
    display: none;
  }
  .header__menu-item:nth-child(1) .header__menu-link:focus {
    background: #d92a2a;
    box-shadow: 0 0 15px #d92a2a, 0 0 30px #d92a2a, 0 0 45px #d92a2a, 0 0 60px #d92a2a;
  }
  .header__menu-item:nth-child(2) .header__menu-link:focus {
    background: #e7e721;
    box-shadow: 0 0 15px #e7e721, 0 0 30px #e7e721, 0 0 45px #e7e721, 0 0 60px #e7e721;
  }
  .header__menu-item:nth-child(3) .header__menu-link:focus {
    background: #12aa12;
    box-shadow: 0 0 15px #12aa12, 0 0 30px #12aa12, 0 0 45px #12aa12, 0 0 60px #12aa12;
  }
  .header__menu-item:nth-child(4) .header__menu-link:focus {
    background: #c0c0c0;
    box-shadow: 0 0 15px #c0c0c0, 0 0 30px #c0c0c0, 0 0 45px #c0c0c0, 0 0 60px #c0c0c0;
  }
  .header__menu-item:nth-child(5) .header__menu-link:focus {
    background: #47ebeb;
    box-shadow: 0 0 15px #47ebeb, 0 0 30px #47ebeb, 0 0 45px #47ebeb, 0 0 60px #47ebeb;
  }
}

.portfolio {
  background: #1fe7f5;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: black;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
}

.swiper-container {
  width: 100vw;
  padding-top: 50px;
  padding-bottom: 200px;
  background: #1fe7f5;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  background: #000;
}

.swiper-slide img {
  display: block;
  height: 100%;
  -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0006);
}

.text {
  position: relative;
  display: block;
  text-align: center;
  bottom: 85%;
  color: white;
  font-size: 20px;
}
/*# sourceMappingURL=main.css.map */