<section class="about-me" id="about-me">
  <h1 class="about-me__headline">Wojciech Onoszko - junior fullstack developer</h1>
  <article class="about-me__showcase">
    <p class="about-me__paragraph">
      Hi, I'm Wojciech Onoszko - fullstack developer at the beginning of career in IT industry. My
      technology stack is based on HTML, CSS, JavaScript, React, Node.js and everything what is
      necessary to build modern websites and apps.
    </p>
    <p class="about-me__paragraph">
      I made this website to contact with potential collaborators and employers. I will put here my
      newest projects and something more about IT themes like articles, task solutions etc.
    </p>
    <p class="about-me__paragraph">
      If you have job opportunity for young developer, who love computers and sport (do workouts,
      not watching champions league :)) or just you want to collaborate with me at some projects -
      mail or call me. I wait for new challenges.
    </p>
  </article>
  <picture class="about-me__avatar">
    <img src="../src/images/avatar/karateAvatar.webp" />
  </picture>
</section>
