<footer class="footer" id="footer">
  <div class="footer__personal-contact">
    <h2>Wojciech Onoszko</h2>
    <p class="footer__contact-address">Chmielno near Gdansk</p>
    <p class="footer__contact-email">
      <a href="mailto:wojciechonoszko@gmail.com" class="footer__contact-email-text">
        wojciechonoszko@gmail.com
      </a>
    </p>
    <p class="footer__contact-phone">
      <a href="tel:+48514081198" class="footer__contact-phone-text"> +48 514 081 198 </a>
    </p>
  </div>
</footer>
