<footer class="footer" id="footer">
  <div class="footer__personal-contact">
    <h2>Wojciech Onoszko</h2>
    <p class="footer__contact-address">Chmielno near Gdansk</p>
    <p class="footer__contact-email">
      <a href="mailto:wojciechonoszko@gmail.com" class="footer__contact-email__text">
        wojciechonoszko@gmail.com
      </a>
    </p>
    <p class="footer__contact-phone">
      <a href="tel:+48514081198" class="footer__contact-phone__text"> +48 514 081 198 </a>
    </p>
  </div>

  <div class="footer-social">
          <p class="footer-social__title"></p>
          <ul class="footer-social__list">
            
            
            <!-- <li class="footer-social__list_item">
              <a class="footer-social__link_item" href="#">
                <svg class="footer-social__icon">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li> -->
            <li class="footer-social__list_item">
              <a class="footer-social__link_item" href="https://www.linkedin.com/in/wojciech-onoszko-60b568200">
                <svg class="footer-social__icon">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="footer-social__list_item">
              <a class="footer-social__link_item" href="https://github.com/wojciechonoszko">
                <svg class="footer-social__icon">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
</footer>
