<section class="header">
  <h1 class="header__title">This is ONsoft by Wojciech Onoszko website!</h1>
  <div class="header__menu-container">
    <div class="header__logo-container">
        <svg class="header__logo-icon">
          <use href="#onsoft"></use>
        </svg>
      </div>
    <ul class="header__menu">
      <li class="header__menu-item"><a class="header__menu-link" href="#">Home</a></li>
      <li class="header__menu-item"><a class="header__menu-link" href="#">About</a></li>
      <li class="header__menu-item"><a class="header__menu-link" href="#">Portfolio</a></li>
      <li class="header__menu-item"><a class="header__menu-link" href="#">Team</a></li>
      <li class="header__menu-item"><a class="header__menu-link" href="#">Contact</a></li>
      <div id="marker"></div>
    </ul>
  </div>

  <!-- This is an SVG sprite that we added in its entirety and hidden visually. -->
  <svg
    aria-hidden="true"
    style="position: absolute; width: 0; height: 0"
    xmlns="http://www.w3.org/2000/svg"
    overflow="hidden"
  >
    <defs>
      <!-- Trash can icon -->

      <symbol id="cat" viewbox="0 0 32 32">
        <text x="0" y="10" class="small">My</text>
        <text x="0" y="20" class="heavy">cat</text>
      </symbol>
      <symbol id="onsoft" viewbox="0 0 60 60">
        <text x="0" y="35" class="header__logo-on">ON</text>
        <text x="27" y="35" class="header__logo-soft">soft</text>
      </symbol>
    </defs>
  </svg>

  <div class="container">
    <svg class="icon" width="150" height="150">
      <use href="#cat"></use>
    </svg>
    <svg class="icon" width="150" height="150">
      <use href="#onsoft"></use>
    </svg>
  </div>
</section>
