<section class="header" id="header">
  <div class="header__title">This is ONsoft by Wojciech Onoszko website!</div>

  <div class="header__menu-container" id="header-menu">
    <div class="header__logo-container">
      <div class="header__logo-icon">
        <span class="header__logo-on">ON</span>
        <!-- <span class="header__logo-soft"">soft</use> -->
      </div>
    </div>
    <ul class="header__menu">
      <li class="header__menu-item"><a class="header__menu-link" href="#header">Home</a></li>
      <li class="header__menu-item"><a class="header__menu-link" href="#about-me">About me</a></li>
      <li class="header__menu-item">
        <a class="header__menu-link" href="#section-portfolio">Portfolio</a>
      </li>
      <li class="header__menu-item"><a class="header__menu-link" href="#">Articles</a></li>
      <li class="header__menu-item"><a class="header__menu-link" href="#footer">Contact</a></li>
      <div id="marker"></div>
    </ul>
    <div class="hamburger">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </div>
</section>
