<section class="header">
    <h1 class="header__title">This is ONsoft by Wojciech Onoszko website!</h1>
    <div class="header__menu-container">
        <ul class="header__menu">
      <li class="header__menu-item"><a class="header__menu-link" href="#">Home</a></li>
      <li class="header__menu-item"><a class="header__menu-link" href="#">About</a></li>
      <li class="header__menu-item"><a class="header__menu-link" href="#">Portfolio</a></li>
      <li class="header__menu-item"><a class="header__menu-link" href="#">Team</a></li>
      <li class="header__menu-item"><a class="header__menu-link" href="#">Contact</a></li>
      <div id="marker"></div>
    </ul>
    </div>
</section>