<section class="section-portfolio" id="section-portfolio">
  <h2 class="section-portfolio__title">Portfolio- my projects</h2>
  <!-- Swiper -->
  <div class="portfolio">
    <div class="swiper-container mySwiper">
    
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <a href="https://wojciechonoszko.github.io/weather-app-gr-3/">
          <img src="../src/images/swiper/img1.jpg" alt="Wheather APP" />
          <span class="swiper-slide__text">Wheather APP</span>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="https://github.com/wojciechonoszko/node-hw-rest-api" alt="Node.js REST API">
          <img src="../src/images/swiper/img2.jpg" />
          <span class="swiper-slide__text">Node.js REST API</span>
        </a>
      </div>
      <div class="swiper-slide">
        <a
          href="https://wojciechonoszko.github.io/goit-react-hw-05-movies/"
          alt="Movies Search Engine"
        >
          <img src="../src/images/swiper/img3.jpg" />
          <span class="swiper-slide__text">Movies Search Engine</span>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="https://wojciechonoszko.github.io/goit-js-hw-11/" alt="Image Search Engine">
          <img src="../src/images/swiper/img4.jpg" />
          <span class="swiper-slide__text">Images Search Engine</span>
        </a>
      </div>
      <div class="swiper-slide">
        <a
          href="https://wojciechonoszko.github.io/goit-react-hw-04-hooks-phonebook/"
          alt="Phone Book"
        >
          <img src="../src/images/swiper/img5.jpg" />
          <span class="swiper-slide__text">Phone Book</span>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="https://wojciechonoszko.github.io/goit-js-hw-10/" alt="Country information App">
          <img src="../src/images/swiper/img6.jpg" />
          <span class="swiper-slide__text">Country Information App</span>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="https://wojciechonoszko.github.io/goit-js-hw-09-3/" alt="Countdown Timer">
          <img src="../src/images/swiper/img7.jpg" />
          <span class="swiper-slide__text">Countdown Timer</span>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="https://wojciechonoszko.github.io/clean-company/" alt="Cleaning Service">
          <img src="../src/images/swiper/img8.jpg" />
          <span class="swiper-slide__text">Cleaning Service</span>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="https://wojciechonoszko.github.io/team-projekt/" alt="Ice cream shop">
          <img src="../src/images/swiper/img9.jpg" />
          <span class="swiper-slide__text">Ice Cream Shop</span>
        </a>
      </div>
      <div class="swiper-slide">
        <a class="https://wojciechonoszko.github.io/goit-markup-hw-08/" alt="Web Studio">
          <img src="../src/images/swiper/img10.jpg" />
          <span class="swiper-slide__text">Web Studio</span>
        </a>
      </div>
    </div>
    
  
    <div class="swiper-pagination"></div>
    </div>
  </div>
  
  
</section>
