<section class="portfolio">
    <!-- Swiper -->
    <div class="swiper-container mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><a href="https://www.youtube.com/watch?v=HGgV0OFDQ7I"><img src="../src/images/swiper/img1.jpg"/><span class="text">Wheather APP</span></a></div>
        <div class="swiper-slide">bleble<img src="../src/images/swiper/img2.jpg" /><span class="text">REST API</span></div>
        <div class="swiper-slide">bleble<img src="../src/images/swiper/img3.jpg" /><span class="text">Movies Search Engine</span></div>
        <div class="swiper-slide">bleble<img src="../src/images/swiper/img4.jpg" /><span class="text">Images Search Engine</span></div>
        <div class="swiper-slide">bleble<img src="../src/images/swiper/img5.jpg" /><span class="text">Phone Book</span></div>
        <div class="swiper-slide">bleble<img src="../src/images/swiper/img6.jpg" /><span class="text">Country Information App</span></div>
        <div class="swiper-slide">bleble<img src="../src/images/swiper/img7.jpg" /><span class="text">Countdown Timer</span></div>
        <div class="swiper-slide">bleble<img src="../src/images/swiper/img8.jpg" /><span class="text">Cleaning Service</span></div>
        <div class="swiper-slide">bleble<img src="../src/images/swiper/img9.jpg" /><span class="text">Ice Cream Shop</span></div>
        <div class="swiper-slide">bleble<img src="../src/images/swiper/img10.jpg" /><span class="text">Web Studio</span></div>
      </div>
            <div class="swiper-pagination"></div>
</section>