
<section class="section-portfolio" id="section-portfolio">
  <article>
    <h2 class="section-portfolio__title">Portfolio - my projects</h2>
  </article>
  <!-- Swiper -->
  <div class="portfolio">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="https://wojciechonoszko.github.io/weather-app-gr-3/" target="_blank">
            <img src="../src/images/swiper/img1.jpg" alt="Wheather APP" />
            <span class="swiper-slide__text">Wheather APP</span>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="https://github.com/wojciechonoszko/node-hw-rest-api" target="_blank">
            <img src="../src/images/swiper/img2.jpg" alt="Node.js REST API" />
            <span class="swiper-slide__text">Node.js REST API</span>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="https://wojciechonoszko.github.io/Movies-Search-Engine/" target="_blank">
            <img src="../src/images/swiper/img3.jpg" alt="Movies Search Engine" />
            <span class="swiper-slide__text">Movies Search Engine</span>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="https://wojciechonoszko.github.io/goit-js-hw-11/" target="_blank">
            <img src="../src/images/swiper/img4.jpg" alt="Image Search Engine" />
            <span class="swiper-slide__text">Images Search Engine</span>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="https://wojciechonoszko.github.io/goit-react-hw-04-hooks-phonebook/" target="_blank">
            <img src="../src/images/swiper/img5.jpg" alt="Phone Book" />
            <span class="swiper-slide__text">Phone Book</span>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="https://wojciechonoszko.github.io/goit-js-hw-10/" target="_blank">
            <img src="../src/images/swiper/img6.jpg" alt="Country information App" />
            <span class="swiper-slide__text">Country Information App</span>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="https://wojciechonoszko.github.io/goit-js-hw-09-3/" target="_blank">
            <img src="../src/images/swiper/img7.jpg" alt="Countdown Timer" />
            <span class="swiper-slide__text">Countdown Timer</span>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="https://wojciechonoszko.github.io/clean-company/" target="_blank">
            <img src="../src/images/swiper/img8.jpg" alt="Cleaning Service" />
            <span class="swiper-slide__text">Cleaning Service</span>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="https://wojciechonoszko.github.io/team-projekt/" target="_blank">
            <img src="../src/images/swiper/img9.jpg" alt="Ice cream shop" />
            <span class="swiper-slide__text">Ice Cream Shop</span>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="https://wojciechonoszko.github.io/goit-markup-hw-08/" target="_blank">
            <img src="../src/images/swiper/img10.jpg" alt="Web Studio" />
            <span class="swiper-slide__text">Web Studio</span>
          </a>
        </div>
      </div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
