<!-- Trigger/Open The Modal -->
<!-- <button id="myBtn">Open Modal</button> -->

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <!-- <p>Some text in the Modal..</p> -->
    <div class="bg_content">
        <div class="intro_logo">
          <div>
            <h2 class="intro_header" data-text="onsoft">onsoft</h2>
          </div>
  
          <div class="quote_container">
            <p class="quote">"Brightness side of the Internet"</p>
          </div>
        </div>
      </div>
  </div>

</div>