.footer {
  padding-top: 14vh;
  padding-bottom: 10vh;
  width: 100%;
  background: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10vw;
  justify-content: center;

  &__personal-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-size: 1.3em;
  }
  &__contact-address {
    margin-top: 2vh;
    font-size: 0.8em;
  }
  &__contact-email {
    margin-top: 2vh;
    &__text {
      color: #fff;
      font-size: 1em;
    }
  }
  &__contact-phone {
    margin-top: 2vh;
    &__text {
      color: #fff;
      font-size: 1em;
    }
  }
}

.footer-social {
  position: relative;
  width: 65vh;
  display: flex;

  justify-content: center;
  &__icon {
    width: 25vh;
    display: inline-block;
    fill: #090979;
  }
  &__icon:hover {
    fill: #00d4ff;
  }
  &__icon:focus {
    color: #4ae113;
  }
  &__list {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    gap: 7vw;
  }
}

// ==================Tablet Styles=====================

@media (min-width: 768px) and (max-width: 1023px) {
}

// ==============Mobile Styles==============================

@media screen and (max-width: 767px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8vw;
    justify-content: center;

    &__personal-contact {
      font-size: 1.2em;
    }
  }

  .footer-social {
    width: 50vh;
    &__icon {
      width: 20vh;
      fill: #00d4ff;
    }
    &__icon:focus {
      fill: #090979;
    }
    &__list {
      gap: 7vw;
    }
  }
}
