@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&display=swap');



.sticky {
  // display: block;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;

}

.navbarOffsetMargin {
  padding-top: 24vh;
}


.header__title {
  display: inline-block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  color: #0d065f;
  font-size: 2.3vw;
  font-weight: 700;
  transform: translate(-50%, -50%);
  transition-duration: 2000ms;
  animation: textSliding 5s linear infinite;
}

@keyframes textSliding {
  0% {
    transform: translateX(5vw);
  }

  50% {
    transform: translateX(50vw);
  }

  100% {
    transform: translateX(5vw);
  }
}

.header__logo-container {
  position: absolute;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 5vh;
  color: #ffad16;
  text-shadow: 2px 2px 4px #ffad16;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 5vh;
  width: 30vh;
  height: 18vh;
  background-image: linear-gradient(to right, #020024 0%, #090979 35%, #00d4ff 100%);
  border-radius: 30px;
  transition-property: background-image, text-shadow, color, transform;
  transition-timing-function: linear;
  transition-duration: 600ms;
  &:focus,
  &:hover {
    background-image: linear-gradient(to right, #00d4ff 0%, #090979 65%, #020024 100%);
    color: #15d315;
    text-shadow: 2px 2px 4px #15d315;
  }
}

.header {
  &__logo-on {
    position: relative;
    right: 5vh;
    font-family: 'Montserrat Alternates', sans-serif;
  }
}

.header__logo-container::after {
  content: 'soft';
  position: absolute;
  left: 15vh;
  display: inline-block;
  transition-delay: 300ms;
  transition-property: text-shadow, color, transform;
  transition-timing-function: linear;
  transition-duration: 600ms;
  color: #15d315;
  text-shadow: 2px 2px 4px #15d315;
}

.header__logo-container:focus::after,
.header__logo-container:hover::after {
  content: 'soft';
  position: absolute;
  left: 15vh;
  display: inline-block;
  transform: rotate(360deg);
  text-shadow: 2px 2px 4px #ffad16;
  color: #ffad16;
}

.header__menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.header__menu {
  position: absolute;
  right: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.header__menu-link {
  position: relative;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  font-weight: 500;
  background: rgba(212, 94, 94, 0.2);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(96, 91, 91, 0.1);
  z-index: 1000;
  overflow: hidden;
  backdrop-filter: blur(15px);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(255, 255, 255, 0.1);
  }
}

.header__menu-item .header__menu-link {
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  border-radius: 30px;
  margin-right: 20px;
}

.header__menu-item:nth-last-child(2) .header__menu-link {
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
}

#marker {
  position: absolute;
  top: 0;
  width: 41px;
  height: 41px;
  z-index: 1;
  transition: 0.5s;
}

#marker::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 1;
  transition: 0.5s;
}

.header__menu-item:nth-child(1):hover ~ #marker::before {
  background: $hover-menu-item-color1;
  box-shadow: 0 0 15px $hover-menu-item-color1, 0 0 30px $hover-menu-item-color1,
    0 0 45px $hover-menu-item-color1, 0 0 60px $hover-menu-item-color1;
}
.header__menu-item:nth-child(2):hover ~ #marker::before {
  background: $hover-menu-item-color2;
  box-shadow: 0 0 15px $hover-menu-item-color2, 0 0 30px $hover-menu-item-color2,
    0 0 45px $hover-menu-item-color2, 0 0 60px $hover-menu-item-color2;
}

.header__menu-item:nth-child(3):hover ~ #marker::before {
  background: $hover-menu-item-color3;
  box-shadow: 0 0 15px $hover-menu-item-color3, 0 0 30px $hover-menu-item-color3,
    0 0 45px $hover-menu-item-color3, 0 0 60px $hover-menu-item-color3;
}

.header__menu-item:nth-child(4):hover ~ #marker::before {
  background: $hover-menu-item-color4;
  box-shadow: 0 0 15px $hover-menu-item-color4, 0 0 30px $hover-menu-item-color4,
    0 0 45px $hover-menu-item-color4, 0 0 60px $hover-menu-item-color4;
}

.header__menu-item:nth-child(5):hover ~ #marker::before {
  background: $hover-menu-item-color5;
  box-shadow: 0 0 15px $hover-menu-item-color5, 0 0 30px $hover-menu-item-color5,
    0 0 45px $hover-menu-item-color5, 0 0 60px $hover-menu-item-color5;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  content: '';
  width: 25px;
  height: 5px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: white;
  border: 1px solid black;
}

// ==================Tablet Styles=====================

@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    &__menu-container {
      justify-content: flex-end;
    }

    &__menu {
      right: 12vw;
    }

    &__menu-item &__menu-link {
      border-radius: 0;
      margin-right: 0;
    }

    &__menu-item:last-child &__menu-link {
      border-bottom-right-radius: 30px;
      border-top-right-radius: 30px;
    }
    &__menu-item:first-child &__menu-link {
      border-bottom-left-radius: 30px;
      border-top-left-radius: 30px;
    }
  }
}

// ==============Mobile Styles==============================

@media screen and (max-width: 767px) {

  .header__logo-container {
    z-index: 2;
  }
  .hamburger {
    z-index: 2;
    display: block;
    position: absolute;
    right: 10%;
    border-radius: 5px;
    &:hover,
    &:focus {
      background: rgba(26, 6, 116, 0.3);
      -webkit-box-shadow: 3px 3px 35px 9px rgba(151, 163, 243, 1);
      -moz-box-shadow: 3px 3px 35px 9px rgba(151, 163, 243, 1);
      box-shadow: 3px 3px 35px 9px rgba(151, 163, 243, 1);
    }
    animation: animate125 3000ms infinite 1000ms;
  }

  @keyframes animate125 {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.5);
    }

    100% {
      transform: scale(1);
    }
  }

  .hamburger.active .bar:nth-child(2) {
    transform: translateX(20px);
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(6px) rotate(405deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-6px) rotate(-405deg);
  }

  .header__menu {
    z-index: 1;
    position: fixed;
    padding-top: 15vh;
    left: 100%;
    top: 20vh;
    gap: 0;
    flex-direction: column;
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 9, 121, 1) 35%,
      rgba(0, 212, 255, 1) 100%
    );
    align-items: center;
    transition: 2s;
    width: 100%;
    max-height: 80vh;
    overflow-y: scroll;
  }

  .header__menu-item {
    margin: 16px 0;
  }

  .header__menu.active {
    left: 0;
    
  }

  .header__logo-container {
  font-size: 4vh;
  left: 5vh;
  width: 20vh;
  height: 12vh;
}

.header__logo-container::after {
  left: 10vh;
}

.header__logo-container:focus::after,
.header__logo-container:hover::after {
  left: 10vh;
}

  #marker::before {
    display: none;
  }
  .header__menu-item:nth-child(1) .header__menu-link:focus {
    background: $hover-menu-item-color1;
    box-shadow: 0 0 15px $hover-menu-item-color1, 0 0 30px $hover-menu-item-color1,
      0 0 45px $hover-menu-item-color1, 0 0 60px $hover-menu-item-color1;
  }
  .header__menu-item:nth-child(2) .header__menu-link:focus {
    background: $hover-menu-item-color2;
    box-shadow: 0 0 15px $hover-menu-item-color2, 0 0 30px $hover-menu-item-color2,
      0 0 45px $hover-menu-item-color2, 0 0 60px $hover-menu-item-color2;
  }
  .header__menu-item:nth-child(3) .header__menu-link:focus {
    background: $hover-menu-item-color3;
    box-shadow: 0 0 15px $hover-menu-item-color3, 0 0 30px $hover-menu-item-color3,
      0 0 45px $hover-menu-item-color3, 0 0 60px $hover-menu-item-color3;
  }
  .header__menu-item:nth-child(4) .header__menu-link:focus {
    background: $hover-menu-item-color4;
    box-shadow: 0 0 15px $hover-menu-item-color4, 0 0 30px $hover-menu-item-color4,
      0 0 45px $hover-menu-item-color4, 0 0 60px $hover-menu-item-color4;
  }
  .header__menu-item:nth-child(5) .header__menu-link:focus {
    background: $hover-menu-item-color5;
    box-shadow: 0 0 15px $hover-menu-item-color5, 0 0 30px $hover-menu-item-color5,
      0 0 45px $hover-menu-item-color5, 0 0 60px $hover-menu-item-color5;
  }
}
