.section-portfolio__title{
  font-size: 30px;
  color: #3f3fd2;
  font-weight: 800;
  text-align: center;

}

.portfolio {
  // background: #1fe7f5;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  width: 100vw;
}

.swiper-container {
  width: 100vw;
  padding-top: 50px;
  padding-bottom: 200px;
  background: #3f3fd2;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  background: #000;
}

.swiper-slide img {
  height: 100%;
  -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0006);
}

a {
  text-decoration: none;
}

.swiper-slide__text {
  position: relative;
  display: block;
  text-align: center;
  bottom: 95%;
  color: rgba(229, 184, 184, 0.7);
  font-size: 20px;
  font-weight: 800;
  text-shadow: 0 0 3px #35a6b8, 0 0 5px #0000ff;
}
