.section-portfolio__title{
  font-size: 30px;
  color: #3f3fd2;
  font-weight: 800;
  text-align: center;

}

.portfolio {
  // background: #1fe7f5;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  width: 100vw;
}


.swiper-container {
  overflow: visible;
  width: 100vw;
  height: 70vh;
  padding-top: 50px;
  padding-bottom: 200px;
  background: #3f3fd2;
}

.swiper-slide {
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  background: #000;
}

.swiper-slide-prev,
.swiper-slide-active,
.swiper-slide-next{
visibility: visible;
opacity: 1;
}

.swiper-slide img {
  height: 100%;
  -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0006);
}

a {
  text-decoration: none;
}

.swiper-slide__text {
  position: relative;
  display: block;
  text-align: center;
  bottom: 95%;
  color: rgba(229, 184, 184, 0.7);
  font-size: 20px;
  font-weight: 800;
  text-shadow: 0 0 3px #35a6b8, 0 0 5px #0000ff;
}

.swiper-pagination-bullet {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #020024;
  border-radius: 10px;
  display: inline-block;
  height: 10px;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  width: 26px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.swiper-pagination-bullet-active {
  background: rgba(0, 0, 0, 0) -webkit-linear-gradient(left, #090979 0%, #00d4ff 100%) repeat scroll 0 0;
  background: rgba(0, 0, 0, 0) linear-gradient(to right, #090979 0%, #00d4ff 100%) repeat scroll 0 0;
  border: medium none;
  height: 12px;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  width: 12px;
}

// ==================Tablet Styles=====================

@media (min-width: 768px) and (max-width: 1023px) {
  .swiper-slide {
  width: 250px;
  height: 250px;
}
}


// ==============Mobile Styles==============================

@media screen and (max-width: 767px) {
  .swiper-slide {
  width: 100px;
  height: 100px;
}

.swiper-slide__text {
  font-size: 15px;
  font-weight: 800;
}
}
